/* Main */
$primary: hsl(15, 88%, 55%);
$background: hsl(270, 0%, 100%);
$background-dark: hsl(270, 14%, 2%);
/* Colors */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$quite-gray: hsl(0, 0%, 50%);
$grooble: hsl(10, 28%, 93%);
$red: hsl(352, 100%, 53%);
$orange: hsl(22, 100%, 55%);
$yellow: hsl(52, 100%, 50%);
$green: hsl(128, 100%, 50%);
$teal: hsl(156, 100%, 50%);
$blue: hsl(206, 100%, 50%);
$purple: hsl(276, 100%, 50%);
$pink: hsl(322, 100%, 74%);