@import "colors";
@import "utilities";
@import "mixins";

/* -
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |

　. 　　　　　　　　　　　　　　　　　　o 　　　　　+
　　()　　　　　　+　 Made with ❤ by ~
　　　　　o 　　　      Areal Alien　　　　.
　　.　　　　　　　　　　　.
　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()
　　+　　　　　　. 　　　　　　　　　　　　　　o
　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+
　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.
　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄
　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o

-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
- */

/* Table of contents



*/

*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  width: 100%; height: 100vh;
  color: hslac($white, 1);
  font-family: $font-main;
  background-color: hslac($background, 1);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.view-width {
  width: calc(100% - 4em);
  max-width: 1420px;
}

.navbar {
  top: 2em;
  width: 100%; height: 5em;
  position: absolute;
  z-index: 100;
  @include flex-center();
  &-inner {
    height: 100%;
    display: grid;
    @include phone {
      padding: 0;
      grid-template-columns: auto 1fr;
    }
    @include tablet {
      padding: 0 2em;
      grid-template-columns: auto 1fr;
    }
    @include desktop {
      padding: 0 2.5em;
      grid-template-columns: 1fr auto 1fr;
    }
    background-color: hslac($background, .5);
    box-shadow: 0 16px 38px -24px hslac($black, .15);
    backdrop-filter: blur(.8rem);
    &-line-top {
      top: 0;
      width: 100%; height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 111;
    }
    &-line-bottom {
      bottom: 0;
      width: 100%; height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 111;
    }
  }
  /* Center */
  &-center {
    height: 100%;
    &-icon-wrapper {
      height: 100%;
      @include flex-center();
    }
    &-logo {
      height: 2.5em;
      text {
        fill: hslac($primary, 1);
        font-family: $font-logo;
        font-size: 361.94px;
        tspan:nth-child(1), tspan:nth-child(3) {
          letter-spacing: 0;
        }
      }
    }
  }
  /* Left & Right */
  &-left {
    @include phone {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include flex-left();
    &-items-wrapper {
      @include flex-left();
    }
    &-items {
      grid-template-columns: repeat(4, auto);
      gap: clamp(1em, 2em, 2.2em);
    }
  }
  &-right {
    @include flex-right();
    &-items-wrapper {
      gap: 1.5em;
      @include flex-right();
    }
    &-items {
      @include phone {
        display: none !important;
      }
      grid-template-columns: repeat(2, auto);
      gap: 1.5em;
    }
  }
  &-left, &-right {
    width: 100%; height: 100%;
    &-items-wrapper {
      height: 100%;
    }
    &-items {
      margin: 0; padding: 0;
      height: 100%;
      display: grid;
    }
    &-item {
      height: 100%;
      @include flex-center();
    }
    &-item-inner {
      width: 100%; height: 100%;
      color: hslac($black, 1);
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      letter-spacing: .1em;
      transition: color .15s ease-in-out;
      cursor: pointer;
      @include flex-center();
      svg {
        width: 1em;
        g {
          stroke: hslac($black, 1);
        }
      }
    }
    &-item-inner.active {
      color: hslac($primary, 1) !important;
    }
    &-item-inner:hover {
      color: hslac($primary, 1);
    }
    &-item-inner:visited {
      color: hslac($black, 1);
    }
    &-item-inner:visited:hover {
      color: hslac($primary, 1);
    }
    &-item-button {
      padding: .5em .75em;
      height: auto !important;
      position: relative;
      background-color: hslac($background, .25);
      border: 1px solid hslac($black, 1);
      border-radius: 5rem;
      @include flex-left();
      &-input {
        padding: 0 .5em;
        display: none;
        background-color: transparent;
        border: none;
        font-family: $font-main;
      }
      &-input:focus {
        outline: none;
      }
    }
    &-item-button:hover &-item-button-input {
      display: block;
    }
  }
}
.navbar-button {
  margin: 0;
  width: 2em; height: 1.5em;
  @include phone {
    display: block;
  }
  @include tablet {
    display: block;
  }
  display: none;
  position: relative;
  transform: rotate(0deg);
  transition: all .35s cubic-bezier($transition-main, 1.175);
  cursor: pointer;
  span {
    right: 0;
    width: 100%; height: 2px;
    display: block;
    position: absolute;
    background: hslac($black, 1);
    border-radius: 1em;
    transform: rotate(0deg);
    transition: all .35s cubic-bezier($transition-main, 1.175);
    opacity: 1;
    &:nth-child(1) { top: 0; width: 100%; }
    &:nth-child(2), &:nth-child(3) { top: .75em; width: 45%; }
    &:nth-child(4) { top: 1.5em; width: 65%; }
  }
  &.open {
    span:nth-child(1) { top: 2em; width: 0; }
    span:nth-child(2), span:nth-child(3) { transform: rotate(45deg); }
    span:nth-child(3) { transform: rotate(-45deg); }
    span:nth-child(4) { top: 18px; left: 50%; width: 0; }
  }
}
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flex-center();
  &-inner {
    height: 100%;
    position: relative;
    user-select: none;
    @include flex-center();
    &-title {
      position: absolute;
      @include flex-col();
      span {
        margin: 0;
        position: relative;
        color: hslac($primary, 1);
        z-index: 5;
      }
      h1 {
        margin: 0;;
        position: relative;
        color: hslac($white, 1);
        font-size: $heading-large;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
        text-shadow: 1px 3px 0 hslac($black, .066), 1px 13px 5px hslac($black, .122);
        z-index: 5;
      }
      &-logo {
        height: 6em;
        position: relative;
        z-index: 5;
        text {
          fill: hslac($white, 1);
          font-family: $font-logo;
          font-size: 361.94px;
          tspan:nth-child(1), tspan:nth-child(3) {
            letter-spacing: 0;
          }
        }
      }
    }
    &-background {
      width: 100%; height: 100%;
      display: grid;
      @include phone {
        padding: 0;
        grid-template-columns: 1fr clamp(80%, 90%, 100%) 1fr;
      }
      @include tablet {
        grid-template-columns: 1fr clamp(75%, 80%, 100%) 1fr;
      }
      grid-template-columns: 1fr clamp(55%, 60%, 100%) 1fr;
      place-items: center;
      &-center {
        width: 100%; height: 100%;
        position: relative;
        overflow: hidden;
        @include flex-center();
        &-image {
          max-width: 120%;
          min-width: 100%; min-height: 100%;
          position: absolute;
          object-fit: cover;
          filter: grayscale(100%) brightness(90%);
          z-index: 1;
        }
      }
    }
  }
}
.small-header {
  height: 9em;
}
.slider {
  width: 100%;
  height: 5em;
  @include flex-center();
  &-inner {
    height: 100%;
    position: relative;
    background-color: hslac($background, .5);
    box-shadow: 0 16px 38px -24px hslac($black, .15);
    backdrop-filter: blur(.8rem);
    gap: 2em;
    overflow: hidden;
    @include flex-left();
    &::after {
      width: 100%; height: 100%;
      content: "";
      position: absolute;
      background: linear-gradient(90deg, hslac($background, 1) 0, hslac($background, 0) 30%, hslac($background, 0) 70%, hslac($background, 1) 100%);
      z-index: 5;
    }
    &-line-top {
      top: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 6;
    }
    &-line-bottom {
      bottom: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 6;
    }
    &-box1, &-box2 {
      position: relative;
      gap: 2em;
      animation: scroll 10s linear infinite;
      @include flex-left();
      p {
        font-weight: 300;
        font-size: $heading-small;
        color: hslac($primary, 1);
        text-transform: uppercase;
        letter-spacing: .1em;
        white-space: nowrap;
      }
      svg {
        height: $paragraph;
        fill: hslac($primary, 1);
      }
    }
  }
}
@keyframes scroll {
  from   { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}
.main {
  min-height: 100vh;
  @include flex-col();
}
#showcase {
  @include phone {
    grid-template-columns: 1fr;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-template-columns: repeat(3, 1fr);
  :nth-child(2) {
    @include phone {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
#view {
  @include phone {
    grid-template-columns: 1fr;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-template-columns: repeat(3, 1fr);
}
.products {
  margin: 10em 0;
  display: grid;
  gap: 1em;
  &-block:hover &-block-overlay {
    opacity: .8;
  }
  &-block {
    width: 100%; height: 1fr;
    position: relative;
    overflow: hidden;
    @include flex-center();
    &-overlay {
      width: 100%; height: 100%;
      position: absolute;
      background: linear-gradient(hslac($black, .66) 0, hslac($black, .77) 75%, hslac($black, .88) 100%);
      transition: all .15s cubic-bezier($transition-main, 1);
      opacity: .5;
      cursor: pointer;
      z-index: 3;
    }
    &-bottom {
      bottom: 0;
      width: 100%; height: 5rem;
      position: absolute;
      color: hslac($white, 1);
      backdrop-filter: blur(.25rem);
      @include flex-center();
      z-index: 5;
      &-left {
        padding: 0 1.5em;
        width: 100%; height: 100%;
        @include flex-col-left-ns();
        &-title {
          margin: 0;
          color: hslac($white, 1);
          font-size: $paragraph;
        }
        &-price {
          margin: 0;
          color: hslac($white, 1);
          font-weight: 200;
        }
      }
      &-right {
        @include flex-center();
        &-button {
          padding: 0;
          width: 5rem; height: 5rem;
          position: relative;
          color: hslac($white, 1);
          background-color: hslac($primary, 1);
          border-top-left-radius: 1.5rem;
          border: none;
          cursor: pointer;
          @include flex-center();
          svg {
            width: 2.5rem;
            fill: none;
            stroke: hslac($white, 1);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 1em;
          }
        }
      }
    }
    &-background {
      width: 100%; height: 100%;
      position: relative;
      @include flex-center();
      &-image {
        min-width: 100%; min-height: 100%;
        max-width: 110%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  &-block::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
.product {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 2.5em;
  &-left {
    width: 100%;
    &-container {
      width: 100%; height: 1fr;
      position: relative;
      overflow: hidden;
      @include flex-center();
      &-image {
        min-width: 100%; min-height: 100%;
        max-width: 120%;
        position: absolute;
        object-fit: cover;
      }
    }
    &-container::after {
      content: "";
      display: block;
      padding-bottom: 120%;
    }
  }
  &-right {
    width: 100%;
    color: hslac($black, 1);
    &-title {
      margin: 0;
      font-size: $heading-medium;
      font-weight: 900;
    }
    &-price {
      margin: 0;
      font-weight: 300;
    }
  }
}
.footer {
  @include flex-col();
  &-top {
    width: 100%;
    position: relative;
    @include flex-center();
    &::after {
      width: 100%; height: 100%;
      content: "";
      position: absolute;
      background: linear-gradient(hslac($background, 0) 0, hslac($background, .77) 100%);
      z-index: 3;
    }
    &-logo {
      @include phone {
        bottom: -4em;
        height: 8em;
      }
      @include tablet {
        bottom: -6em;
        height: 12em;
      }
      bottom: -8em;
      height: 16em;
      position: relative;
      text {
        fill: hslac($primary, 1);
        font-family: $font-logo;
        font-size: 361.94px;
        tspan:nth-child(1), tspan:nth-child(3) {
          letter-spacing: 0;
        }
      }
    }
  }
  &-bottom {
    padding: 4em 0;
    display: grid;
    position: relative;
    @include phone {
      gap: 3em;
      grid-template-columns: 1fr;
    }
    grid-template-columns: auto 1fr;
    background-color: hslac($background, .5);
    box-shadow: 0 16px 38px -24px hslac($black, .15);
    backdrop-filter: blur(.8rem);
    z-index: 5;
    &-line-top {
      top: 0;
      width: 100%; height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 111;
    }
    &-line-bottom {
      bottom: 0;
      width: 100%; height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 111;
    }
    &-left {
      @include phone {
        @include flex-center();
      }
      @include flex-left-start();
      &-logo {
        @include flex-center();
        &-svg {
          height: 3em;
          text {
            fill: hslac($primary, 1);
            font-family: $font-logo;
            font-size: 361.94px;
            tspan:nth-child(1), tspan:nth-child(3) {
              letter-spacing: 0;
            }
          }
        }
      }
    }
    &-right {
      width: 100%;
      @include phone {
        gap: 2em;
        @include flex-col();
      }
      @include tablet {
        gap: 3em;
      }
      gap: 4em;
      @include flex-right-start();
      &-items {
        margin: 0; padding: 0;
        height: 100%;
        @include phone {
          width: 100%;
          gap: .25em;
        }
        @include tablet {
          gap: .5em;
        }
        gap: 1em;
        @include flex-col-left();
      }
      &-item {
        @include flex-center();
        &-inner {
          width: 100%; height: 100%;
          color: hslac($black, 1);
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 300;
          letter-spacing: .1em;
          transition: color .15s ease-in-out;
          cursor: pointer;
          @include flex-center();
          svg {
            width: 1em;
            g {
              stroke: hslac($black, 1);
            }
          }
        }
        &-inner.active {
          color: hslac($primary, 1) !important;
        }
        &-inner:hover {
          color: hslac($primary, 1);
        }
        &-inner:visited {
          color: hslac($black, 1);
        }
        &-inner:visited:hover {
          color: hslac($primary, 1);
        }
      }
    }
  }
}
/* Selection */
::selection {
  color: hslac($white, 1);
  background: hslac($black, 1);
}