@import "colors";
@import "utilities";
@import "mixins";

/* -
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |

　. 　　　　　　　　　　　　　　　　　　o 　　　　　+
　　()　　　　　　+　 Made with ❤ by ~
　　　　　o 　　　      Areal Alien　　　　.
　　.　　　　　　　　　　　.
　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()
　　+　　　　　　. 　　　　　　　　　　　　　　o
　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+
　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.
　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄
　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o

-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
- */

/* Table of contents



*/

*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  width: 100%; height: 100vh;
  color: hslac($white, 1);
  font-family: $font-main;
  background-color: hslac($background, 1);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.view-width {
  width: calc(100% - 4em);
  max-width: 1420px;
}

.navbar {
  top: 2em;
  width: 100%; height: 5em;
  position: absolute;
  z-index: 100;
  @include flex-center();
  &-inner {
    padding: 0 2.5em;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: hslac($background, .5);
    box-shadow: 0 16px 38px -24px hslac($black, .15);
    backdrop-filter: blur(.8rem);
    border-radius: .75em;
    &-line-top {
      top: 0;
      width: 100%; height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 111;
    }
    &-line-bottom {
      bottom: 0;
      width: 100%; height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 111;
    }
  }
  /* Center */
  &-center {
    height: 100%;
    &-icon-wrapper {
      height: 100%;
      @include flex-center();
    }
    &-logo {
      height: 2.5em;
    }
  }
  /* Left & Right */
  &-left {
    @include flex-left();
    &-items-wrapper {
      @include flex-left();
    }
    &-items {
      grid-template-columns: repeat(4, auto);
      grid-gap: 2em;
    }
  }
  &-right {
    @include flex-right();
    &-items-wrapper {
      @include flex-right();
    }
    &-items {
      grid-template-columns: repeat(2, auto);
      grid-gap: 1.5em;
    }
  }
  &-left, &-right {
    width: 100%; height: 100%;
    &-items-wrapper {
      height: 100%;
    }
    &-items {
      margin: 0; padding: 0;
      height: 100%;
      display: grid;
    }
    &-item {
      height: 100%;
      @include flex-center();
    }
    &-item-inner {
      width: 100%; height: 100%;
      color: hslac($black, 1);
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      letter-spacing: .1em;
      transition: color .15s ease-in-out;
      cursor: pointer;
      @include flex-center();
      svg {
        width: 1em;
        g {
          stroke: hslac($black, 1);
        }
      }
    }
    &-item-inner.active {
      color: hslac($primary, 1) !important;
    }
    &-item-inner:hover {
      color: hslac($primary, 1);
    }
    &-item-inner:visited {
      color: hslac($black, 1);
    }
    &-item-inner:visited:hover {
      color: hslac($primary, 1);
    }
    &-item-button {
      padding: .5em .75em;
      height: auto !important;
      position: relative;
      background-color: hslac($background, .25);
      border: 1px solid hslac($black, 1);
      border-radius: 5rem;
      @include flex-left();
      &-input {
        padding: 0 .5em;
        display: none;
        background-color: transparent;
        border: none;
        font-family: $font-main;
      }
      &-input:focus {
        outline: none;
      }
    }
    &-item-button:hover &-item-button-input {
      display: block;
    }
  }
}
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flex-center();
  &-inner {
    height: 100%;
    position: relative;
    user-select: none;
    @include flex-center();
    &-title {
      position: absolute;
      @include flex-col();
      span {
        margin: 0;
        position: relative;
        color: hslac($primary, 1);
        z-index: 5;
      }
      h1 {
        margin: 0;;
        position: relative;
        color: hslac($white, 1);
        font-size: $heading-large;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
        mix-blend-mode: difference;
        z-index: 5;
      }
    }
    &-background {
      width: 100%; height: 100%;
      display: grid;
      grid-template-columns: 1fr clamp(55%, 60%, 100%) 1fr;
      place-items: center;
      &-center {
        width: 100%; height: 100%;
        position: relative;
        overflow: hidden;
        @include flex-center();
        &-image {
          max-width: 120%;
          min-width: 100%; min-height: 100%;
          position: absolute;
          object-fit: cover;
          filter: grayscale(100%) brightness(90%);
          z-index: 1;
        }
      }
    }
  }
}
.small-header {
  height: 9em;
}
.slider {
  width: 100%;
  height: 5em;
  @include flex-center();
  &-inner {
    height: 100%;
    position: relative;
    background-color: hslac($background, .5);
    box-shadow: 0 16px 38px -24px hslac($black, .15);
    backdrop-filter: blur(.8rem);
    gap: 2em;
    overflow: hidden;
    @include flex-left();
    &::after {
      width: 100%; height: 100%;
      content: "";
      position: absolute;
      background: linear-gradient(90deg, hslac($background, 1) 0, hslac($background, 0) 30%, hslac($background, 0) 70%, hslac($background, 1) 100%);
      z-index: 5;
    }
    &-line-top {
      top: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 6;
    }
    &-line-bottom {
      bottom: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      background: linear-gradient(90deg, hslac($black, 0) 0%, hslac($black, 1) 40%, hslac($black, 1) 60%, hslac($black, 0) 100%);
      z-index: 6;
    }
    &-box1, &-box2 {
      position: relative;
      gap: 2em;
      animation: scroll 10s linear infinite;
      @include flex-left();
      p {
        font-weight: 300;
        font-size: $heading-small;
        color: hslac($primary, 1);
        text-transform: uppercase;
        letter-spacing: .1em;
        white-space: nowrap;
      }
      svg {
        height: $paragraph;
        fill: hslac($primary, 1);
      }
    }
  }
}
@keyframes scroll {
  from   { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}
.main {
  min-height: 100vh;
  @include flex-col();
}
#showcase {
  grid-template-columns: repeat(3, 1fr);
  :nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
#view {
  grid-template-columns: repeat(3, 1fr);
}
.products {
  margin: 5em 0;
  display: grid;
  gap: 1em;
  &-block {
    width: 100%; height: 1fr;
    position: relative;
    overflow: hidden;
    @include flex-center();
    &-overlay {
      width: 100%; height: 100%;
      position: absolute;
      background: linear-gradient(hslac($black, .33) 0, hslac($black, .44) 75%, hslac($black, .88) 100%);
      z-index: 3;
    }
    &-bottom {
      bottom: 0;
      width: 100%; height: 5rem;
      position: absolute;
      color: hslac($white, 1);
      backdrop-filter: blur(.25rem);
      @include flex-center();
      z-index: 5;
      &-left {
        padding: 0 1.5em;
        width: 100%; height: 100%;
        @include flex-col-left-ns();
        &-title {
          margin: 0;
          color: hslac($white, 1);
          font-size: $paragraph;
        }
        &-price {
          margin: 0;
          color: hslac($white, 1);
          font-weight: 200;
        }
      }
      &-right {
        @include flex-center();
        &-button {
          padding: 0;
          width: 5rem; height: 5rem;
          position: relative;
          color: hslac($white, 1);
          background-color: hslac($primary, 1);
          border-top-left-radius: 1.5rem;
          border: none;
          cursor: pointer;
          @include flex-center();
          svg {
            width: 2.5rem;
            fill: none;
            stroke: hslac($white, 1);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 1em;
          }
        }
      }
    }
    &-background {
      width: 100%; height: 100%;
      position: relative;
      @include flex-center();
      &-image {
        min-width: 100%; min-height: 100%;
        max-width: 110%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  &-block::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
/* Selection */
::selection {
  color: hslac($white, 1);
  background: hslac($black, 1);
}